.result {
	margin: 3rem 0;
}

input {
	padding: 0.75rem;
	box-sizing: border-box;
	outline: 0;
	text-align: center;
	border: 0;
	border-bottom: 1px solid #666;
	background: #212121;
	color: #f0f0f0;
	width: auto;
}

@media (min-width: 601px) {
	.result {
		font-size: 2rem;
	}

	input {
		font-size: 1.5rem;
		padding: 1rem;
	}
}

input:hover {
	border-bottom: 1px solid #ccc;
}

.info {
	font-size: 0.85rem;
	margin-bottom: 2rem;
	padding: 0.5rem;
	background: #000;
	box-sizing: border-box;
}

.info span {
	display: block;
}
