body {
	background: #212121;
	color: #f0f0f0;
}

.result {
	margin: 3rem 0;
	font-size: 2rem;
}

input {
	font-size: 1.5rem;
	padding: 1rem;
	box-sizing: border-box;
	outline: 0;
	text-align: center;
	border: 0;
	border-bottom: 1px solid #666;
	background: #212121;
	color: #f0f0f0;
}

input:hover {
	border-bottom: 1px solid #ccc;
}

#clipboard {
	cursor: pointer;
	margin: 2rem 0;
	display: inline-block;
	text-decoration: underline;
}
